<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="us" class="com.issuetracker.service.UserService" />
	<bean id="is" class="com.issuetracker.service.IssueService" />
	<bean id="ts" class="com.issuetracker.service.TagService" />
	<bean id="cs" class="com.issuetracker.service.CommonService" />

</beans>